.card {
    width: 33%;
    height: 30%;
    background-color: #d3d3d3;
    margin: 75px 0 75px 33%;
    box-shadow:5px 5px 8px #000;
    padding: 25px;
    /*margin-left: 33%;*/
}
.card img {
    height: 150px;
    display: block;
    border-radius: 100%;
}